body { 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(98, 192, 144);
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height:100vh;
    margin:0;


}

.Logo{
	display: flex;
	justify-content: flex-end;
}
.link{
	width: 435.59px;
}




h1{
	display: flex;
	justify-content: center;
	text-decoration: none;
}

a { 
    color: rgb(98, 192, 144);
    text-decoration: none;
    font-size: large;
    
}




a:hover { 
	text-decoration: underline; 
}

header {
  background-color: rgb(98, 192, 144);
  color: white;
  height: 1.5em;
    width: 100%;
  text-align: right; 
margin-bottom: 0.5em;
  
  
}

header a { 
	text-decoration: none; 
    color: white;
    font-size: 0.6em;
}

.colonne{
	 columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}


.riquadro{
	  display: flex;
	  justify-content: center;
	  border: 3px solid orange;
	  width: 400px;
	  position: fixed;
	  top: 50%;
      left: 50%;
	  height: 100px;
	  transform: translate(-50%, -50%);
	  border-radius: 10px;

}
.input{
	position: fixed;
	  top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: orange;

}

.submit{
	position: fixed;
	top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);



}

.riquadro3{
	  display: flex;
	  justify-content: center;
	  border: 3px solid orange;
	  width: 400px;
	  position: fixed;
	  top: 50%;
      left: 50%;
	  height: 300px;
	  transform: translate(-50%, -50%);
	  border-radius: 10px;

}

.submit3{
	position: fixed;
	top: 90%;
    left: 82%;
    transform: translate(-50%, -50%);



}

.cancella{
	color:red;
}

.riquadro4{
	
	 display: flex;
	  justify-content: center;
	  border: 3px solid orange;
	  width: 400px;
	  position: fixed;
	  top: 50%;
      left: 50%;
	  height: 300px;
	  transform: translate(-50%, -50%);
	  border-radius: 10px;
	
}

.input4{
	position: fixed;
	  top: 50%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: orange;
	
}

.orange:hover{
	color: orange;
}














