<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
	 <meta charset="UTF-8">
    <title>Film</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/movie.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>

	<span class="Logo"><span class="link"><a href="/"><img src="/images/logo-siw.png" width="100%"/></a></span></span>
	<div class="midSection">

	    <div class="movie" th:if="${movie}">

    <span class="Titolo" th:text="${movie.title}">Avengers</span>
    <span class="data" th:text="${movie.year}">2000</span>

<div class="w3-content w3-display-container">       
        <li class="immagini" th:each="immagine : ${movie.getImmagini()}">

       <img class="mySlides" th:src="@{'/images/' + ${movie.title} + '/' + ${immagine}}" width="75%"/>
       </li>
       
       <button style="margin-left: 400px;" class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
       <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
       
       </div> 

    <div th:unless="${movie}">Non esiste</div>
    
<div class="Cast">

		<span th:text="'Regista:'"></span>
		 <span th:if="${movie.getDirector()}">
			 <a th:href="@{'/artist' + '/' + ${movie.getDirector().getId()}}"
				th:text="${movie.getDirector().getName()} + ' ' + ${movie.getDirector().getSurname()}">Regista:Quentin Tarantino</a>
				
    <span th:unless="${movie.getDirector()}">Non esiste</span>
    
			    </span>
			    
			<div th:text="'Cast: '"></div>
			
        <li th:each="attore : ${movie.getActors()}">
			<a th:href="@{'/artist' + '/' + ${attore.getId()}}"
				th:text="${attore.getName()} + ' ' + ${attore.getSurname()}">Brad Pitt</a>
		</li>
			    
			 </div>   

    </div>
    
    
    <div class="titoloRecensioni" text="Recensioni">Recensioni</div>

    
    <div th:if="${recensioni==null || recensioni.isEmpty()}">Non ci sono recensioni per questo film</div>
    

<ul class="recensioni">
		<li class="colonne" th:each="recensione : ${recensioni}">
			<div class="container">
	        <div class="utente" th:text="${recensione.utente.getName()} + ' ' + ${recensione.utente.getSurname()}">nomeUtente</div>
	        <span class="valutazione" th:text="${recensione.valutazione}">5</span>
	        <span class="fa fa-star checked"></span>
	        <div th:text="${recensione.title}">Titolo</div>
	        <div class="title" th:text="${recensione.testo}">Testo</div>
			<div sec:authorize="hasAnyAuthority('ADMIN')">
			<a class="cancella" th:href="@{'/admin/deleteRecensione/' + ${recensione.id}}">Cancella la recensione</a>
			</div>
			</div>
		</li>
	</ul>    
	</div>
	
	<span>Aggiungi anche tu una recensione,bisogna essere registrati per poterlo fare.</span>

    <div sec:authorize="hasAnyAuthority('DEFAULT','ADMIN')">
	<a class="button" th:href="@{'/formNewRecensione/' + ${movie.id}}">Aggiungi una recensione</a>
	</div>
 
	
<div class="end"></div>


  <script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}


</script>
  
<footer></footer>

  </body>
</html>
