<!DOCTYPE html>
<html>

<head>
	<title>
		New Recensione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<span class="Logo"><span class="link"><a href="/"><img src="/images/logo-siw.png" width="100%"/></a></span></span>
	
	<h1>Aggiungi una recensione</h1>
	<form th:action="@{'/recensione/' + ${movie.id}}" method="POST" th:object="${recensione}">
  		
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
  		
		<div>
			<label>Titolo:</label> 
			<span><input type="text" th:field="${recensione.title}" /></span>
			<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
		    </span>
		</div>
		
		
				
				<div>
		     <label for="recensione.valutazione">Valutazione:</label>
			 <select id="recensione.valutazione" name="valutazione">
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			 </select>
			 <span th:if="${#fields.hasErrors('valutazione')}" th:errors="*{valutazione}">

		</div>
	

			
		</div>
		
		<div>
			<label>Testo:</label> 
			<span><textarea rows="10" cols="25" th:field="${recensione.testo}" /></span>
		    </span>
		</div>
		

		

		
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
	
		<script src="star-ratings.js"></script>

</body>

</html>